<% posts.forEach((post, index) => { %>
  <dialog class="p-dialog js-dialog" <%- index === 0 ? 'autofocus' : '' %> id="modal<%- index + 1 %>">
    <div class="p-dialog__container">
      <figure class="p-dialog__image">
        <img src="<%- imagePath + post.image.file %>" alt="<%- post.image.alt %>">
      </figure>
      <h1 class="p-dialog__title"><%- post.title %></h1>
      <p class="p-dialog__desc"><%- post.description %></p>
    </div>
    <button class="p-dialog__close" type="button" aria-labelledby="close<%- index + 1 %>" data-modal-close>
      <span id="close<%- index + 1 %>" class="u-screen-reader">モーダルを閉じる</span>
    </button>
  </dialog>
<% }); %>
